           {% block menu %}
            <aside role="complementary" class="col-xl-4">
              <div class="card ">
                <div class="card-block" >
                  <p>
                    <a style="font-size:20px" href="/rh/">Minhas Vagas</a>
                  </p>
                  <p>
                    <a style="font-size:20px" href="#">Buscar Currriculo</a>
                  </p>
                  <p>
                    <a style="font-size:20px" href="/rh/profile/">Meu Perfil</a>
                  </p>
                  <p>
                    <a style="font-size:20px" href="/rh/job/new">Nova Vaga</a>
                  </p>
                  <p>
                    <a style="font-size:20px" href="/logout">Sair</a>
                  </p>
                </div>
              </div>
            </aside>
           {% endblock %}