{% extends "default/base.html"%}
        {%block dados %}
        <title>Cadastro gratuito de Candidatos e Empresas no  EnigmaJOB</title>
        <meta property="og:locale" content="pt_BR">
        <meta name="description" content="Cadastro gratuito de Candidatos e Empresas no EnigmaJob">
        <meta name="keywords" content="mecanismo de busca de empregos, buscar vagas de emprego, oportunidades de emprego, lista de emprego, trabalho, vagas de trabaho, oportunidades de trabalho, vagas">
        <meta property="og:title" content="Cadastro gratuito de Candidatos e Empresas no Enigmajob">
        <meta property="og:site_name" content="EnigmaJOB">
        <meta property="og:description" content="Cadastro gratuito de Candidatos e Empresas no EnigmaJob">
        <meta property="og:type" content="website">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/0.9.3/vee-validate.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        {% endblock %}

        {% block body %}


        {% raw %}

              <div id="curriculum" class="container">

          <br>
          <div class="row">


          <div class="col col-xl-9">
            <div class="card">
              <div class="card-block">

            <h3>Cadastro de Curriculo</h3>
            <div :class="{ 'form-group': true, 'form-group has-danger': errors.has('Nome')  }">
              <label>Nome (*)</label>
              <input v-validate="'required|alpha_spaces'" type="text" name="Nome" :class="{'form-control': true, 'form-control form-control-danger': errors.has('Nome') }"  v-model="newNome">
              <span v-show="errors.has('Nome')" class="form-control-feedback">{{ errors.first('Nome') }}</span><br>
            </div>
            <div :class="{ 'form-group': true, 'form-group has-danger': errors.has('Email')  }">
              <label>Email (*)</label>
            <input v-validate="'required|email'" type="text" name="Email" :class="{'form-control': true, 'form-control form-control-danger': errors.has('Email') }"  v-model="newemail">
            <span v-show="errors.has('Email')" class="form-control-feedback">{{ errors.first('Email') }}</span><br>
            </div>
            <div :class="{ 'form-group': true, 'form-group has-danger': errors.has('Celular')  }">
              <label>Celular (*)</label>
              <input v-validate="'required|alpha_dash'" type="text" name="Celular" :class="{'form-control': true, 'form-control form-control-danger': errors.has('Celular') }"  v-model="newcelular">
              <span v-show="errors.has('Celular')" class="form-control-feedback">{{ errors.first('Celular') }}</span><br>
            </div>
            <div :class="{ 'form-group': true, 'form-group has-danger': errors.has('Cidade e Estado')  }">
              <label>Cidade/Estado (*)</label>
              <input v-validate="'required|alpha_dash'" type="text" :class="{'form-control': true, 'form-control form-control-danger': errors.has('Cidade e Estado') }" name="Cidade e Estado"  v-model="newlocalicao">
              <span v-show="errors.has('Cidade e Estado')" class="form-control-feedback">{{ errors.first('Cidade e Estado') }}</span><br>
            </div>
            <div :class="{ 'form-group': true, 'form-group has-danger': errors.has('nascimento')  }">
              <label>Data de Nascimento (*)</label>
            <input v-validate="'required'" type="date" :class="{'form-control': true, 'form-control form-control-danger': errors.has('nascimento') }" name="nascimento"  v-model="newdata_nascimento">
            <span v-show="errors.has('nascimento')" class="form-control-feedback">{{ errors.first('nascimento') }}</span><br>
            </div>

            <div :class="{ 'form-group': true, 'form-group has-danger': errors.has('Resumo')  }">
              <h5>Resumo (*)</h5>
              <textarea v-validate="'required|alpha_dash'" :class="{'form-control': true, 'form-control form-control-danger': errors.has('Resumo') }" name="Resumo"  v-model="newresumo"></textarea>
              <span v-show="errors.has('Resumo')" class="form-control-feedback">{{ errors.first('Resumo') }}</span><br>
            </div>
            <br>
            <h4>Experiência</h4>
            <div class="card">
              <ul class="list-group list-group-flush"  v-for="(i,index) in experiencia">
                <li style="font-size:20px" class="list-group-item"><strong>{{index}}</strong> -- {{i.cargo}} na {{i.empresa}} Inicio: {{i.inicio_xp}} Terminio: {{i.termino_xp}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn-danger btn btn-sm"  v-on:click="removeXP(index)" name="button">Delete</button></li>
              </ul>
            </div>
            <div :class="{ 'form-group': true, 'form-group has-danger': errors.has('Empresa')  }">
              <label for="Empresa"> Empresa</label>
              <input type="text" v-model="newNomeEmpresa" v-validate="'required|alpha_dash'" :class="{'form-control': true, 'form-control form-control-danger': errors.has('Empresa') }" name="Empresa" value="">
              <span v-show="errors.has('Empresa')" class="form-control-feedback">{{ errors.first('Empresa') }}</span><br>
            </div>
            <div :class="{ 'form-group': true, 'form-group has-danger': errors.has('Cargo')  }">
              <label for="">Cargo</label>
              <input type="text" name="Cargo" v-validate="'required|alpha_dash'" :class="{'form-control': true, 'form-control form-control-danger': errors.has('Cargo') }" v-model="newCargo" >
              <span v-show="errors.has('Cargo')" class="form-control-feedback">{{ errors.first('Cargo') }}</span><br>
            </div>
              <div class="row">
                <div :class="{ 'form-group col col-sm-4': true, 'form-group has-danger': errors.has('Entrada')  }">
                  <label for="">Entrada</label>
                  <input type="date" v-validate="'required'" name="Entrada" :class="{'form-control': true, 'form-control form-control-danger': errors.has('Entrada') }" v-model="newDataInicioXP"   name="" value="">
                  <span v-show="errors.has('Entrada')" class="form-control-feedback">{{ errors.first('Entrada') }}</span><br>
                </div>
                <div :class="{ 'form-group col col-sm-4': true, 'form-group has-danger': errors.has('Saida')  }" >
                  <label for="">Saída</label>
                  <input type="date" v-validate="'required'" name="Saida" :class="{'form-control': true, 'form-control form-control-danger': errors.has('Saida') }" v-model="newDataTerminoXP" value="">
                  <span v-show="errors.has('Saida')" class="form-control-feedback">{{ errors.first('Saida') }}</span><br>
                </div>
                </div>
                <div :class="{ 'form-group': true, 'form-group has-danger': errors.has('Descricao')  }">
                  <label for="">Descrição</label>
                  <textarea name="Descricao"  v-model="newDescricacao" v-validate="'required|alpha_dash'" :class="{'form-control': true, 'form-control form-control-danger': errors.has('Descricao') }" rows="8" cols="80"></textarea>
                  <span v-show="errors.has('Descricao')" class="form-control-feedback">{{ errors.first('Descricao') }}</span><br>
                </div>
                <button type="button" class="btn btn-dark btn-sm" v-on:click="adicionarXP" name="button">Adicionar Experiência</button>
                <br>
                <br>
                  <h3>Educação</h3>
                  <div class="card">
                    <ul  class="list-group list-group-flush" v-for="(edu, index) in educacao">
                      <li  class="list-group-item">{{edu.curso}} na {{edu.nome}}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" v-on:click="removeEdu(index)" class="btn btn-danger btn-sm" name="button">Delete</button></li>
                    </ul>
                  </div>
                  <div :class="{ 'form-group': true, 'form-group has-danger': errors.has('Ensino')  }">
                  <label for="">Institruição de Ensino</label>
                  <input v-validate="'required|alpha_spaces'" :class="{'form-control': true, 'form-control form-control-danger': errors.has('Ensino') }" type="text" v-model="nomeEnsino" name="Ensino" value="">
                  <span v-show="errors.has('Ensino')" class="form-control-feedback">{{ errors.first('Ensino') }}</span><br>
                  </div>
                  <div :class="{ 'form-group': true, 'form-group has-danger': errors.has('Curso')  }">
                  <label for="">Curso</label>
                  <input v-validate="'required|alpha_dash'" :class="{'form-control': true, 'form-control form-control-danger': errors.has('Curso') }" type="text" v-model="newNomeCurso" name="Curso" value="">
                  <span v-show="errors.has('Curso')" class="form-control-feedback">{{ errors.first('Curso') }}</span><br>
                  </div>
                  <div :class="{ 'form-group': true, 'form-group has-danger': errors.has('Inicio')  }">
                  <label for="">Inicio</label>
                  <input type="date" v-validate="'required'" :class="{'form-control': true, 'form-control form-control-danger': errors.has('Inicio') }" v-model="newDataInicio" name="Inicio" value="">
                  <span v-show="errors.has('Inicio')" class="form-control-feedback">{{ errors.first('Inicio') }}</span><br>
                  </div>
                  <div :class="{ 'form-group': true, 'form-group has-danger': errors.has('Termino')  }">
                  <label for="">Termino</label>
                  <input type="date" v-validate="'required'" :class="{'form-control': true, 'form-control form-control-danger': errors.has('') }" v-model="newDataTermino" name="Termino" value="">
                  <span v-show="errors.has('Termino')" class="form-control-feedback">{{ errors.first('Termino') }}</span><br>
                  </div>
                  <div class="form-group">
                  <button type="button" class="btn btn-success btn-sm"  v-on:click="adicionaEducacao"  name="button" >Adicionar curso</button>
                  </div>
                  <br><br>
                  <button type="button" v-on:click="sendCurriculum" class="btn btn-success" id="button" name="button">Cadastrar Curriculo</button>


              </div>
            </div>
            </div>
          </div>
        {% endraw %}
        </div>
        <br>
        <script src="{{url_for('static', filename='js/vee-validate.js')}}" charset="utf-8"></script>
        <script type="text/javascript">


    Vue.use(VeeValidate);

      var app = new Vue({
        el : '#curriculum',
        data:{
          newNome:'',
          newemail:'',
          newcelular:'',
          newlocalicao:'',
          newdata_nascimento:'',
          newtecnologia:'',
          newresumo:'',

          newNomeEmpresa:'',
          newCargo:'',
          newDescricacao:'',
          newDataInicioXP:'',
          newDataTerminoXP:'',

          nomeEnsino:'',
          newNomeCurso:'',
          newDataInicio:'',
          newDataTermino:'',
          experiencia:[],
          educacao:[],
          curriculum:[]
        },
        computed: {
          // a computed getter

        },
        methods:{
          adicionaCurriculum: function(){
            this.curriculum.push({
            nome: this.newNome,
            email:this.newemail,
            celular:this.newcelular,
            localicao:this.newlocalicao,
            data_nascimento:this.newdata_nascimento,
            tecnologia:this.newtecnologia,
            resumo:this.newresumo
            })
            this.newNome = ''
            this.newcelular = ''
            this.newlocalicao = ''
            this.newdata_nascimento = ''
            this.newtecnologia = ''
            this.newresumo = ''
          },
          adicionaEducacao: function(){
            if(this.nomeEnsino !== '' && this.newNomeCurso !== '' && this.newDataInicio !== ''){
            this.educacao.push({nome:this.nomeEnsino,curso:this.newNomeCurso,inicio:this.newDataInicio,termino:this.newDataTermino})
            this.nomeEnsino = ""
            this.newNomeCurso =""
            this.newDataInicio =""
            this.newDataTermino= ""
          }

          },
          adicionarXP: function(){
            if (this.newNomeEmpresa!=='' && this.newCargo !=='' && this.newDataInicioXP !=='' && this.newDataTerminoXP !==''){
            this.experiencia.push({empresa:this.newNomeEmpresa ,cargo:this.newCargo , inicio_xp:this.newDataInicioXP , termino_xp:this.newDataTerminoXP ,descricao:this.newDescricacao  })
            this.newNomeEmpresa = ''
            this.newCargo = ''
            this.newDataInicioXP =''
            this.newDataTerminoXP =''
            this.newDescricacao =''
          }
          },
          removeEdu: function(index) {
            this.educacao.splice(index,1)
          },
          removeXP: function(index){
            this.experiencia.splice(index, 1)
          },
          sendCurriculum: function () {
            if(!(this.newNome === '' || this.newemail === '' || this.newlocalicao === '' || this.newdata_nascimento ==='')){
            axios.post('/adicionar_curriculum', {curriculum:{nome: this.newNome, email:this.newemail,celular:this.newcelular,localicao:this.newlocalicao,data_nascimento:this.newdata_nascimento,tecnologia:this.newtecnologia, resumo:this.newresumo}, experiencia:this.experiencia, educacao:this.educacao})
            .then(function(response){
              console.log('saved successfully')
              alert("Enviado com sucesso! \n Você receberá um email com instruções para acessar sua conta.")
              window.location.replace("http://enigmajob.xyz");
            })
            }else{
              alert("Campos com o (*) são obrigatorios!")
            }
          },

        }


      });

    </script>

{% endblock %}